<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" DefaultTargets="Build">
   <PropertyGroup>
		<OutDir>$(MSBuildStartupDirectory)\build</OutDir>
		<SolutionProperties>
					Platform=Any CPU;
					Configuration=Release
		</SolutionProperties>
   </PropertyGroup>
	<ItemGroup>
		<Solution Include="src/SharpDox.Plugins.Hugo.sln">
			<Properties>
				$(SolutionProperties)
			</Properties>
		</Solution>
		
		<PluginFiles Include="src/SharpDox.Plugins.Hugo/bin/Release/CommonMark.dll;
			src/SharpDox.Plugins.Hugo/bin/Release/SharpDox.Plugins.Hugo.dll"/>
					
		<LanguageFiles Include="lang/**/*.*"/>
		
		<FontFiles Include="sharpDox-hugo/assets/font/**/*.*"/>
		<IconFiles Include="sharpDox-hugo/assets/icons/**/*.*"/>
		<AppDistFiles Include="sharpDox-hugo/build/*.js"/>
		<VendorFiles Include="sharpDox-hugo/vendor/jstree/default/**/*.*"/>
		<ViewerExe Include="sharpDox-hugo/start.exe"/>
		
		<TemplateFiles Include="sharpDox-hugo/templates/**/*.*"/>
		<IndexFile Include="sharpDox-hugo/build/index.html"/>
		
	</ItemGroup>
	<Target Name="Build">
		<RemoveDir Directories="$(OutDir)" />
		<RemoveDir Directories="sharpDox-hugo/build" />
		<MSBuild Projects="@(Solution)" Targets="Clean;Build" />
		<Exec Command="npm install webpack --global" WorkingDirectory="$(MSBuildStartupDirectory)\sharpDox-hugo" />
		<Exec Command="npm install" WorkingDirectory="$(MSBuildStartupDirectory)\sharpDox-hugo" />		
		<Exec Command="webpack" WorkingDirectory="$(MSBuildStartupDirectory)\sharpDox-hugo" />
		
		<Exec Command="ping 127.0.0.1 -n 10 > nul" IgnoreExitCode="true" /> <!-- wait for webpack finish -->
		
		<Copy SourceFiles="@(PluginFiles)" DestinationFolder="$(OutDir)/plugins/hugo" />
		<Copy SourceFiles="@(LanguageFiles)" DestinationFolder="$(OutDir)/lang" />
		<Copy SourceFiles="@(FontFiles)" DestinationFolder="$(OutDir)/plugins/hugo/app/assets/font" />
		<Copy SourceFiles="@(IconFiles)" DestinationFolder="$(OutDir)/plugins/hugo/app/assets/icons" />
		<Copy SourceFiles="@(VendorFiles)" DestinationFolder="$(OutDir)/plugins/hugo/app/vendor/jstree/default" />
		<Copy SourceFiles="@(TemplateFiles)" DestinationFiles="@(TemplateFiles->'$(OutDir)/plugins/hugo/themes/sharpDox/templates/%(RecursiveDir)%(Filename)%(Extension)')" />
		<Copy SourceFiles="@(AppDistFiles)" DestinationFolder="$(OutDir)/plugins/hugo/app" />
		<Copy SourceFiles="@(ViewerExe)" DestinationFolder="$(OutDir)/plugins/hugo/app" />
		<Copy SourceFiles="@(IndexFile)" DestinationFolder="$(OutDir)/plugins/hugo/themes/sharpDox" />
	</Target>
</Project>
